spring:
  datasource:
    url: jdbc:h2:file:./data/launchpool
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true

integrations:
  coingecko:
    api-key: "CG-VvuRreekiYLyJ7DkkLW5SBTN"
    api-url: "https://api.coingecko.com/api/v3"